.PrincipalContainer {
  .Image {
    background-image: url("../images/bgMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeInRight 1s both;
    img {
      width: 100%;
    }
  }
  .TextContainer {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    max-width: 550px;
    animation: fadeInLeft 1s both;
    h2 {
      font-size: 2rem;
      letter-spacing: 1px;
      line-height: 40px;
      margin-bottom: 30px;
      font-weight: 500;
    }
    p {
      line-height: 25px;
      font-size: 1rem;
      color: hsl(233, 8%, 62%);
    }
    button {
      margin-top: 20px;
    }
  }
  @media (min-width: 690px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 85px;
    .Image {
      grid-column: 2;
      background-image: url("../images/bgIntroDesktop.svg");
    }
    .TextContainer {
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
@keyframes fadeInLeft {
  0% {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  transform: none;
  }
  } 
  @keyframes fadeInRight {
    0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    transform: none;
    }
    } 